<div class="flex justify-content-center align-items-center">
    <div class="col-12 lg:col-10 xl:col-8">
        <div class="card mb-0 shadow-1 p-3 xl:p-6 md:p-5 sm:p-4" *ngIf="!loading">
            <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="title" class="block text-900 font-medium mb-2">Título</label>
                        <input formControlName="title" id="title" type="text" pInputText class="w-full">
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="description" class="block text-900 font-medium mb-2">Descripción</label>
                        <textarea pInputTextarea formControlName="description" rows="7" id="description" type="text" pInputText class="w-full"></textarea>
                    </div>
                </div>
                <label for="subjectId" class="block text-900 font-medium mb-2">Subject Id</label>
                <input id="subjectId" formControlName="subjectId" type="text" placeholder="Correo electrónico" pInputText class="w-full mb-3">
                <div class="grid my-5" *ngIf="this.post.files">
                    <div class="col-12 md:col-6 xl:col-6" *ngFor="let file of post.files">
                        <div class="file flex justify-content-center align-items-center p-4 gap-3">
                            <i [class]="file.type | mimetype" class="icons"></i>
                            <span class="file-name">{{file.name}}</span>
                            <p-button (onClick)="downloadFile(file.hashName)" [style]="{'border':'none', 'height':'auto', 'background-color':'var(--indigo-500)'}">
                                <ng-template pTemplate="icon">
                                    <span class="material-symbols-rounded">
                                        download
                                    </span>
                                </ng-template>
                            </p-button>
                            <p-button (onClick)="deleteFromOldFiles(file.id)" [style]="{'border':'none', 'height':'auto', 'background-color':'var(--red-500)'}">
                                <ng-template pTemplate="icon">
                                    <span class="material-symbols-rounded">
                                        delete
                                    </span>
                                </ng-template>
                            </p-button>
                        </div>
                    </div>
                </div>
                <p-fileUpload [showUploadButton]="false" [multiple]="true" [maxFileSize]="10490000" (onSelect)="beforeSave($event)">
                    <ng-template pTemplate="content" let-files>
                        <div class="h-full flex flex-column justify-content-center align-items-center ng-star-inserted copy">
                            <i class="pi pi-upload text-900 text-2xl mb-3"></i>
                            <span class="font-bold text-900 text-xl mb-3">Carga archivos</span>
                            <span class="font-medium text-600 text-md text-center">Suelta o selecciona archivos</span>
                        </div>
                    </ng-template>
                </p-fileUpload>
                <div class="flex align-content-center justify-content-center mt-4">
                    <button type="submit" pButton pRipple label="Actualizar" icon="material-symbols-rounded person_check" class="w-fit mt-3" [style]="{'background-color':'var(--blue-500)', 'border':'none'}"></button>
                    <button type="button" pButton pRipple label="Cancelar" class="w-fit mt-3 ml-3" icon="material-symbols-rounded close"  [routerLink]="['/posts/view', post.id]" [style]="{'background-color':'var(--red-500)', 'border':'none'}"></button>
                </div>
            </form>
        </div>
        <div class="card mb-0 shadow-1 p-3 xl:p-6 md:p-5 sm:p-4" *ngIf="loading">
            <div class="mb-3">
                <p-skeleton height="3.5rem" styleClass="mb-2"></p-skeleton>
            </div>
            <div item class="mb-5">
                <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2 mt-5"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <div class="flex gap-3 mt-8">
                    <p-skeleton height="25rem" width="15rem" height="3rem"></p-skeleton>
                    <p-skeleton height="25rem" width="15rem" height="3rem"></p-skeleton>
                    <p-skeleton height="25rem" width="15rem" height="3rem"></p-skeleton>
                </div>
            </div>
        </div>
    </div>
</div>


