<div class="card">
    <p-table [value]="users" [responsive]="true" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Users
                <a routerLink="new">
                    <p-button>
                        <ng-template pTemplate="icon">
                            <span class="material-symbols-rounded">
                                add
                            </span>
                        </ng-template>
                    </p-button>
                    <p-button icon="pi pi-refresh" severi></p-button>
                </a>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Código</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-users>
            <tr>
                <td>{{users.username}}</td>
                <td>{{users.fullName}}</td>
                <td>{{users.studentCode}}</td>
                <td>{{users.email}}</td>
                <td>{{users.roles}}</td>
                <td><p-button>
                        <ng-template pTemplate="icon">
                            <span class="material-symbols-rounded">
                                edit
                            </span>
                        </ng-template>
                    </p-button></td>
                <td><p-button>
                        <ng-template pTemplate="icon">
                            <span class="material-symbols-rounded">
                                delete
                            </span>
                        </ng-template>
                    </p-button></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{users ? users.length : 0 }} users.
            </div>
        </ng-template>
    </p-table>
</div>