<!-- Header -->
<div>
  <p-menubar [model]="menu" class="z-5 relative top-0">
    <ng-template pTemplate="start" >
        <img src="../../../../../assets/logo.png" height="40" class="mr-5"/>
    </ng-template>
    <ng-template pTemplate="menuicon">
      <span class="material-symbols-rounded">menu</span>
    </ng-template>
    <ng-template pTemplate="end">
        <div (click)="avatarMenu.toggle($event)" class="cursor-pointer">
          <p-avatar icon="pi pi-user" shape="square" size="large"></p-avatar>
        </div>
        <p-tieredMenu #avatarMenu [model]="options" [popup]="true"></p-tieredMenu>
    </ng-template>
  </p-menubar>
</div>
