<!-- 
<div class="flex flex-wrap">
    <div class="flex-grow-1 md:flex-grow-0 flex align-items-center justify-content-center font-bold bg-gray-50 m-2 px-5 py-3 border-round w-auto ">
        <div class="card flex justify-content-center">
            <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>
        </div>
    </div>
    <div class="flex-grow-1 flex align-items-center justify-content-center bg-gray-50 font-bold m-2 px-5 py-3 border-round">
        <router-outlet></router-outlet>
    </div>
</div> -->

<router-outlet></router-outlet>
