<div class="grid grid-nogutter surface-section text-800 mt-2">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">¡Aporta conocimiento</span>
            <div class="text-6xl font-bold mb-3 text-green-500" >para nuestra Comunidad UIS!</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Accede a miles de documentos académicos y ayuda a otros estudiantes como tú.</p>
            
            <p-button routerLink="/auth/register" pRipple label="¡Regístrate!" type="button" class="mr-3 p-button-raised" [style]="{'background-color':'var(--green-500)', 'border':'none'}"></p-button>
            <button routerLink="/auth/login" pButton pRipple label="Inicia sesión" type="button" class="p-button-outlined" [style]="{'color':'var(--green-500)'}"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="../../../../../assets/uis.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">Una comunidad, </span>
        <span class="text-green-500">todo lo que necesitas</span>
    </div>
    <div class="text-700 mb-6">En UIStudy tienes todo lo que necesitas para triunfar en tu vida académica universitaria.</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-teal-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">¿Qué es UIStudy?</div>
            <span class="text-700 line-height-3">UIStudy es una plataforma en línea donde puedes encontrar y compartir documentos de estudio universitario de forma gratuita y sencilla.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-cog text-4xl text-teal-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">¿Cómo funciona?</div>
            <span class="text-700 line-height-3">UIStudy es muy fácil de usar. solo tienes que registrarte en nuestra plataforma y podrás empezar a buscar y compartir documentos de estudio.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-teal-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">¿Por qué elegirnos?</div>
            <span class="text-700 line-height-3">UIStudy ofrece una amplia selección de documentos de estudio gratis y no requiere descargas ni instalaciones.</span>
        </div>
    </div>
</div>