<div class="flex justify-content-center align-items-center">
    <div class="col-12 lg:col-10 xl:col-8">
        <div class="card mb-0 shadow-1 p-3 xl:p-6 md:p-5 sm:p-4" *ngIf="!loading">
            <div class="flex justify-content-between flex-column-reverse md:flex-row align-items-center">
                <div class="mt-4 mb-4 sm:m-0">
                    <div class="text-900 font-bold text-3xl mb-2">{{post.title}}</div>
                    <p-tag value="{{post.createdAt | date}}"></p-tag>
                </div>
                <div class="flex align-items-center mt-2 sm:mt-0">
                    <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}" shape="circle"></p-avatar>
                    <span class="font-semibold">{{post.user.fullName}}</span>
                </div>
            </div>
            <p class="line-height-3 text-lg mb-4 mt-6" *ngIf="post.description">{{post.description}}</p>
            <div class="grid my-5">
                <div class="col-12 md:col-6 xl:col-4" *ngFor="let file of post.files">
                    <div class="file flex justify-content-center align-items-center p-4 gap-3">
                        <i (click)="show(file)" [class]="file.type | mimetype" class="icons"></i>
                        <span class="file-name">{{file.name}}</span>
                        <p-button (onClick)="downloadFile(file.hashName)" [style]="{'border':'none', 'height':'auto', 'background-color':'var(--indigo-500)'}">
                            <ng-template pTemplate="icon">
                                <span class="material-symbols-rounded">
                                download
                                </span>
                            </ng-template>
                        </p-button>
                    </div>
                </div>
            </div>
            <div class="flex gap-5 justify-content-end" *ngIf="ifUserIsAuthor()">
                <p-button [routerLink]="['/posts/edit', post.id]" label="Editar">
                    <ng-template pTemplate="icon">
                        <span class="material-symbols-rounded">
                            edit
                        </span>
                    </ng-template>
                </p-button>
                <p-button (onClick)="deletePost()" label="Eliminar" [style]="{ 'background-color': 'var(--red-500)', 'border':'none'}">
                    <ng-template pTemplate="icon">
                        <span class="material-symbols-rounded">
                            delete
                        </span>
                    </ng-template>
                </p-button>
            </div>
        </div>
        <div class="card mb-0 shadow-1 p-3 xl:p-6 md:p-5 sm:p-4" *ngIf="loading">
            <div class="mb-3">
                <p-skeleton height="3.5rem" styleClass="mb-2"></p-skeleton>
            </div>
            <div item class="mb-5">
                <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2 mt-5"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <div class="flex gap-3 mt-8">
                    <p-skeleton height="25rem" width="15rem" height="3rem"></p-skeleton>
                    <p-skeleton height="25rem" width="15rem" height="3rem"></p-skeleton>
                    <p-skeleton height="25rem" width="15rem" height="3rem"></p-skeleton>
                </div>
            </div>
        </div>
    </div>
</div>
